<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:oxm="http://www.springframework.org/schema/oxm"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	                  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <import resource="repositoryContext.xml" />

    <bean id="abstractService" class="org.toursys.processor.service.AbstractService" abstract="true">
        <property name="tournamentAggregationDao" ref="tournamentAggregationDao" />
    </bean>

    <bean id="playerService" class="org.toursys.processor.service.PlayerService" parent="abstractService" />
    <bean id="gameService" class="org.toursys.processor.service.GameService" parent="abstractService" />
    <bean id="seasonService" class="org.toursys.processor.service.SeasonService" parent="abstractService" />
    <bean id="tournamentService" class="org.toursys.processor.service.TournamentService" parent="abstractService" />
    <bean id="userService" class="org.toursys.processor.service.UserService" parent="abstractService" />

    <bean id="groupService" class="org.toursys.processor.service.GroupService" parent="abstractService">
        <property name="gameService" ref="gameService" />
        <property name="participantService" ref="participantService" />
    </bean>
    <bean id="participantService" class="org.toursys.processor.service.ParticipantService" parent="abstractService">
        <property name="groupService" ref="groupService" />
    </bean>
    <bean id="scheduleService" class="org.toursys.processor.service.ScheduleService" parent="abstractService">
        <property name="participantService" ref="participantService" />
    </bean>

    <bean id="playOffGameService" class="org.toursys.processor.service.PlayOffGameService" parent="abstractService">
        <property name="groupService" ref="groupService" />
        <property name="participantService" ref="participantService" />
    </bean>

    <bean id="finalStandingService" class="org.toursys.processor.service.FinalStandingService" parent="abstractService">
        <property name="groupService" ref="groupService" />
        <property name="participantService" ref="participantService" />
    </bean>

    <bean id="nameGenerator" class="org.toursys.processor.util.NameGenerator" />

</beans>