body {
	padding: 0px;
	font-family: sans-serif;
	font-size: 15px;
	color: #000000;
	background: #f5f5f5;
}
#main {
	max-width: 1000px;
	margin: 20px auto;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}
#head {
	height: 80px
	padding: 20px;
	background: url('../img/head-bgr.gif') left top repeat-x #ffffff;
}
#content {
	padding: 0px;
	color: #333333;
	background: #ffffff;
	position: relative;
	overflow: auto;
}
#menu {
	list-style-type: none;
	margin: 0px; padding: 0px;
	padding: 20px 0px 0px 20px;
	height: 30px;
	border-bottom: solid #999999 1px;
	background: url('../img/menu.gif') repeat-x left bottom #ffffff;
}
#menu li {
	float: left;
	margin-right: 3px; 
	overflow: visible;
	position: relative;
	height: 20px;
}
#menu li a {
	border-top-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border: solid #999999 1px;
	padding: 5px 10px;
	display: block;
	height: 19px;
	z-index: 1024;
	top: 1px;
	background: #ffffff;
	color: #000000;
	text-decoration: none;
}
#menu li a:hover, #user a:hover {
	color: #ff8600;
}
#menu a.active {
	border-bottom: solid #ffffff 1px;
}
#page {
	clear: both;
	padding: 20px;	
}
#footer {
	padding: 20px;
	background: #424242;
	color: #cccccc; 
}
#footer a {
	color: #ffffff;
	text-decoration: none;
}
#user {
	position: absolute;
	top: 90px;
	right: 20px;
	color: #666666;
}
#user a {
	font-weight: bold;
		color: #ff8600;
	text-decoration: none;	
}
h1 {
	background: #666666;
	color: #ffffff;
	padding: 20px 0px 20px 20px;
	margin: 0px;
	font-size: 22px;
	border-top: solid #ffffff 1px;
}
p {
	margin: 20px 0px;
}
img {
	border: none;
}
a {
	color: #ff8600; 
}
a:hover {

}
strong {
	font-weight: bold;
	color: #666666;
}
form {
	margin: 0px; padding: 0px;
	border: none;
}
form fieldset {
	border: solid #cccccc 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
form legend {
	font-weight: bold;
	padding: 0px 5px;
	margin-left: -5px;
}
form div {
	clear: both;
	margin-bottom: 5px;
	overflow: auto;
}
form label {
	width: 8em;
	float: left;
}
form input, form select, form div div {
	float: left;
	margin: 0px;
	clear: none;
}
form input, form select, form textarea {
	border: solid #cccccc 1px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 2px;
	width: 12em;
	color: #333333;
}
form div div input {
	width: auto;

}
form input:focus, form select:focus, form textarea:focus {
	border: solid #000000 1px;
	/*background: #fff7dd;*/
	background: #f5f5f5;
}
	
form input[type="checkbox"]{
	margin: 3px 10px 0px 0px;
	padding: 0px;
	width: auto;
}
.center {
	padding-left: 8em;
}
.center label {
	width: auto;
}
form div span {
	font-size: 13px;
}
.button {
	padding: 5px 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	border: solid #999999 1px;
	text-decoration: none;
	display: block;
	width: auto;
	float: left;
	margin-right: 5px;
	color: #000000;
	line-height: 15px;
	background: url('../img/button.gif') repeat-x left top #dddddd; 
}
.button img {
	vertical-align: text-top;
	margin: 0px 5px 0px 0px;
}
.button:active {
	border: solid #666666 1px;
	background: url('../img/button2.gif') repeat-x left top #cccccc;
}
.ico img {
	margin: 0px;
}
.spanner {
	color: #aaaaaa;
	padding: 0px 5px;
}
.yui-skin-sam div {
	width: auto;
	height: auto;
	overflow: visible;
	float: none;
	margin: 0px;
}
.feedbackPanel {
	list-style-type: none;
	padding: 10px;
	margin: 0px 0px 20px 0px;
	color: #ff5500;
	background: #ffffee;
	border: solid #ffd867 1px;
	-border-radius: 5px;
	-moz-border-radius: 5px; 
	font-size: 13px;
}
.feedbackPanel li {
	margin-bottom: 5px;
}

.postNum input {
	width: 30px;
}
.addresses div {
	float: left;

}
.wicket-aa-container {
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}
.wicket-aa ul {
	list-style-type: none;
	font-size: 11px;
	line-height: 15px;
	border: solid #999999 1px;
	background: #ffffff;
	margin: -2px 0px 0px 0px;
	padding: 0px;
	color: #999999;
}
.wicket-aa li{
	padding: 1px 2px;	
}
.wicket-aa li:fisrt-child {
	padding-top: 3px;
}
.wicket-aa li:last-child {
	padding-bottom: 2px;
}
.wicket-aa li:hover {
	background: #ffffee;
	color: #000000;
	cursor: arrow; 
}